<!doctype html>
<html lang="en">
<head>
    <title>Achalasia</title>
    <link rel="stylesheet" href="achalasia.component.css">
    <meta name="viewport" content="initial-scale=1">
</head>
<body>
    <div id="title">
        <h1>Achalasia</h1>
    </div>

    <div id="infoBox">
        <h2>
            What is it?
        </h2>
        <h4>
            Achalasia is a rare disorder, making it <br>
            difficult for food and liquid to pass <br>
            into the stomach.
        </h4>
        <p>
            Fact: More than 80 diseases occur <br>
            because of the immune system attacking <br>
            the body's own organs, tissues, and <br>
            cells.
        </p>
    </div>

    <div id="symptomBox">
        <h2 id="symptomTitle">
            What are the Symptoms?
        </h2>
        <h4 id="listStart">
            Achalasia patients may experience one<br>
            or more of the following:
        </h4>
        <ul>
            <li>Back-up of food</li>
            <li>Regurgitation</li>
            <li>Chest pain</li>
            <li>Weight loss</li>
        </ul>
    </div>

    <div id="reachOut">
        <h2>Reaching Out</h2>
        <h4 id="speech">
            Autoimmune diseases are scary, but
            nobody should have to face them alone.
            <br><br>
            In the advent of communication technology,
            patients are connecting through social
            media: sharing tips, advice, and
            experience. 
            <br><br>
            Disease may spread, but so does information. 
            <br><br>
            Patients are no longer alone: <br>
            <b>WE HAVE A CHAMPION!</b>
            <br>
            <h3>Connect</h3>
            <a href="https://www.facebook.com/groups/AchalasiaSupportGroup">
                <img src="../../assets/facebook.png" id="social">
            </a> 
        </h4>
    </div>
    <img src="../../assets/CHAMPION.png" id="champion">
</body>
</html>