<!doctype html>
<html lang="en">
<head>
    <title>Welcome to AIDA</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body class="container">
    <div id="box">
        <h1>Welcome to AIDA</h1>
        <h3>Please select an autoimmune disease</h3>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
            <label for="Disease">Disease:</label>
            <select formControlName="disease" class="form-control" (change)="changeWebsite($event)">
                <option value="">
                <option value="achalasia">Achalasia
                <option value="">Type 1 Diabetes
                <option value="">Rheumatoid Arthritis
                <option value="">Systemic Lupus
                <option value="">Erythematosus
                <option value="">Inflammatory Bowel Disease
            </select>
            <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>